extends includes/layout

block content

    // *4 Previtalize Bottles = $95*
    // (That's a whopping $173 OFF the retail price! If you take action now... you get to save 40% OFF the usual price of Previtalize!)

    //- Correct Content
    -
        var product = {
            image: "https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_previtalize_4_bottles_1024x1024.png",
            quantity: "4",
            discount: "40%",
            retail: "NULL",
            price: "$95",
            product: "4 bottle of Previtalize",
            name: "Previtalize",
            perbottle: "NULL",
            saving: "$173",
            currentsupply: "NULL",
            theme: "bg__pre_gradient"

        }

    //- Section
    .bg__pre_gradient
        .container.section__80
            .row.center-xs
                .col-xs-11.col-md-8

                    h1.mb__40.c__white Wait! Before you continue check out this one-time offer


            //- Box
            .row.center-xs.mb__40
                .col-xs-11.col-md-8.bg__white.border-dotted
                    i.fa.fa-truck.fa-4x.mt__20
                    .row.center-xs
                        p
                            b Congratulations! 
                        p Your Provitalize order is on its way. Soon you can
                            | experience how its unique formula can rebalance your gut bacteria and
                            | turn more fat into fuel. Yet…


            //- Section
            .row.center-xs
                .col-xs-11.col-md-8

                    h1.mb__40.c__white How would like to send your weight loss into overdrive?
                    //- Coutdown
                    .col-xs-12
                      .row.center-xs
                        div.c__white.f__up.f__bold.countdown.bg__green
                            p.mb__0
                              | THIS SPECIAL OFFER WILL EXPIRE IN 
                              span#time
                    .sp__50

                    p.c__white
                        | As Provitalize increases your good bacteria while wiping out the bad
                        | guys you can look forward to regaining control of your food cravings,
                        | rejuvenating your metabolism, and feeding your body with the nutrients
                        | it needs to turn fat into energy.
                        | Yet, for Provitalize to achieve its full potential it needs fuel.
                    p.c__white
                        | A healthy diet rich in fiber, greens, and probiotic foods will go a long
                        | way to feeding Provitalize what it needs to repopulate your good
                        | bacteria.
                    p.c__white
                        | Yet, how would you like to feed Provitalize with 
                        b high octane fuel that sends its fat incinerating power into overdrive? 
                        | While improving your sleep, lowering stress, and lifting your mood at the same time?



    //- Section
    .bg__white.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8


                    .row.center-xs
                        .col-xs-11.col-md-6
                            h3.ribbon.bg__pre_gradient.c__white.mb__40 Introducing...
                    h1.mb__40 Previtalize


                    p.t__small 
                        | After months of formulation and testing,
                        | we&#39;ve finally created what we believe is a
                        | formula able to 
                        b accelerate the benefits of Provitalize by as much as 500%!

                    p.t__small
                        | Its ingredients have also been found in
                        | studies to be potent at reducing stress,
                        | improving mood, increasing sleep quality
                        | and more.

    //- Section 
    .section__80.bg__lightgrey
        .container
            .row.center-xs
                .col-xs-11.col-md-8

                    h1.mb__40 What’s Previtalize?

                    p 
                        | Whereas Provitalize is a “PRObiotic”, Previtalize is a “PREbiotic”.

                    p
                        | As its name suggests, Previtalize acts as a preconditioning formula for
                        | Provitalize. If Provitalize is like sending in a team of marines to wipe out
                        | invading bacteria, Previtalize equips them with the ultimate tools to do
                        | the job.

                    p
                        | Because you see, for Provitalize to be effective it needs fuel it can
                        | convert into healthy, fat burning bacteria. And 
                        b Previtalize gives it that fuel in spades.

                    p
                        | Previtalize contains 
                        b natural ingredients that create “super starches” in the gut. 
                        | These super starches are Provitalize’s favorite food. As it
                        | feasts on them, it 
                        b goes into overdrive in repopulating the good guys in your gut.

                    p
                        | As you’ve already purchased Provialize, we want to ensure you’re
                        | giving it the best chance possible of rebalancing your gut, turning your
                        | body into a fat burning machine and are able to lose weight without the
                        | pain and misery of starvation dieting.

                    p
                        | So via this page only you can get a 
                        b #{product.discount} DISCOUNT off the recommended retail price for #{product.name}.


    .section__80.bg__white
        .container
            .row.center-xs
                .col-xs-11.col-md-8

                    .row.center-xs.mt__40.mb__40
                        .col.xs-12.col-md-8
                            img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_previtalize_4_bottles_1024x1024.png" alt="Image Title")
                    h1.mb__40.mt__40 Add #{product.name} #{product.quantity}-Bottle Bundle to your order for just #{product.price}
                    +order-button('Add to cart - $95.00')


                    .row.center-xs
                        .col-xs-11.col-md-6
                            div.retail.mb__40.mt__40
                                p.mb__0 Recommended retail #{product.retail}

                    p.border-dotted
                        | *For a four month supply, this works out at just $0.78 a day to turbo-
                        | boost Provitalize’s and gain optimal fat burning power.

    //- Section 
    .bg__pre_gradient.c__white.section__80
        .container
            .row.center-xs
                .col-md-8.col-xs-12


                    .col-xs-12.center-xs

                        h1.mb__40 Bigger Health Gains for Your Mind &amp; Body


                        p.t__small.mb__40
                            | Previtalize is backed by science as a powerful formula that helps to
                            | reduce stress, improve mood, and to help you sleep better - ALL while
                            | turning up the fat burning power of Provitalize.
                            | Based on clinical studies of its ingredients, Previtalize:


                        .div.c__black
                            .col-xs-12
                                .row.pd__10
                                    div.bg__white.pd__25.card.shadow

                                        h3.f__up 1. Accelerates Weight Loss 23%

                                        .sp__25

                                        p.t__small.mb__0
                                            | For fat to be broken down and burned off as energy it also has to be
                                            | “oxidized”. Research by Higgins, from BioMed Central, found that the
                                            | super starches found in Previtalize can 
                                            b increase fat oxidation and accelerate fat burning by as much as 23%.
                                            | (1)
                            .col-xs-12
                                .row.pd__10
                                    div.bg__white.pd__25.card.shadow

                                        h3.f__up 2. Slashes Stress Hormone Cortisol Levels

                                        .sp__25

                                        p.mb__0 
                                            | When you feel stressed it releases the stress hormone cortisol. This
                                            | can wreak havoc to your metabolism and ability to turn stored fat into
                                            | energy. Even worse, cortisol can cause you to comfort eat junk foods,
                                            | making you even more overweight.
                                        p.mb__0
                                            | Previtalize contains ingredients found in studies to 
                                            b help drain cortisol, banish stress and improve your fat burning potential 
                                            | all at the
                                            | same time.(2)
                            .col-xs-12
                                .row.pd__10
                                    div.bg__white.pd__25.card.shadow


                                        h3.f__up  3. Lifts Your Happiness Hormone Serotonin

                                        .sp__25

                                        p.mb__0
                                            | As stress goes down, happiness goes up. Previtalize helps this happen by 
                                            b releasing more of the feel good hormone serotonin 
                                            | to brighten
                                            | your mood.(2)
                                        p.mb__0
                                            | When you feel happier, you feel more like going for a stroll with your
                                            | partner...pulling on your sneakers and going for a run…and doing all
                                            | the activities that will help Provitalize do its job of burning off fat as
                                            | energy.

                            .col-xs-12
                                .row.pd__10
                                    div.bg__white.pd__25.card.shadow

                                        h3.f__up 4. Induces Blissful Hours of Sleep

                                        .sp__25

                                        p.mb__0
                                            | Sleep is the ultimate performance enhancer. It helps to lower stress, lift
                                            | mood, recharge your energy, and it’s vital for preventing the onset of
                                            | chronic disease. Previtalize contains an ingredient backed by science
                                            | to help improve sleep, so you can 
                                            b help your body gain all round better health.
                                            | (2)

                        .sp__25
                        p 
                            | So you see, on its own Previtalize is a powerful way of improving your
                            | all round health. And when you take it with Provitalize you give your
                            | stomach a dream combination of gut rebalancing nutrition.

    //- section
    .bg__lightgrey.section__80
        .container
            .row.center-xs
                .col-xs-11.col-xs-11

                    h1.mb__40 Add #{product.name} #{product.quantity}-Bottle Bundle to your order for just #{product.price}

                    p.mb__40 87% of customers add on with this offer

                    button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                        | Add 1 Bottle of #{product.name} to your order - #{product.price}
                        i.fa.fa-arrow-right.sp__left-1
    //- Section 
    .center-xs.bg__white.section__80
        .container
            .row.middle-xs.center-xs
                .col-xs-11.col-md-8
                    h1.mb__40 Better than Any Other Prebiotic
                    p When developing Provitalize, we discovered that most prebiotics create
                        | starches that get digested the moment they reach the stomach. At best,
                        | this makes them unusable. At worst, they can get turned into fat,
                        | achieving the reverse result you want.
                    p
                        | To create Previtalize we developed a unique formula that creates
                        | “super starches” that keep their structure all the way to your intestines.
                    p
                        | This allows Provitalize to better feast on them and supercharge its fat
                        | burning power.
                    p
                        | After doing thorough research into the prebiotics marketplace, we can
                        | vouch there’s 
                        b no other prebiotic that can compete with Previtalize’s science backed results, 
                        | premium grade delivery system and its wide
                        | range of health benefits.
                    p
                        | Previtalize is also manufactured to USA standards. It contains ZERO
                        | preservatives, no artificial colors or flavors, no wheat or gluten, or any
                        | artificial nasties. Just healthy ingredients as nature intended.

    //- Reviews Collected by Okendo

    //- Section 
    .bg__pre_gradient.c__white.section__80
        .container
            .row.middle-xs.center-xs
                .col-xs-11.col-md-8
                    img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png" alt="Image Title" style="width:300px;")
                    h1.mb__40.mt__40 Try it Risk Free with a 60 Day Money-Back Guarantee!
                    p We’re so confident you’ll love how Previtalize accelerates the fat
                        | burning potential of Provitalize while helping to reduce your anxiety, lift
                        | your mood, and improve your sleep that we’re offering a no questions
                        | asked 60 day money back guarantee.

                    p Try Previtalize for 60 days. And if you notice no reduction in your
                        | weight or are unsatisfied for any reason at all, your purchase will be
                        | refunded in full.

    //- Section
    .container.section__80
        .row.center-xs
            .col-xs-11.col-md-8
                h1.mb__40 Add #{product.name} #{product.quantity}-Bottle Bundle to your order for just #{product.price}

                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Add 1 Bottle of #{product.name} to your order - #{product.price}
                    i.fa.fa-arrow-right.sp__left-1

    //- Section
    .bg__lightgrey.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8
                    .row.center-xs
                        .col-xs-11.col-md-6

                            div.important.mb__40 Important

                        h1.mb__40 Your #{product.discount} Discount is Available Only from this Page

                        p 
                            | As you’ve purchased Provitalize, you’ve already proven you’re 
                            | someone who takes their health seriously. That you’re eager to reverse
                            | the damage done to your microbiome by antibiotics, processed food,
                            | and all the chemicals awash in our world.
                        p 
                            | Provitalize is step one in your journey towards recovering the health of
                            | your gut. Step two is adding the high octane fuel of Previtalize to send
                            | your fat burning into overdrive.
                        p
                            | Just imagine how it will feel to see your slender body emerging in the
                            | mirror…your face slimmer and tighter...your clothes baggier.
                            | And just imagine that moment when you meet friends for the first time
                            | in a few weeks and the 
                            b look of surprise on their faces when they see how much slimmer and healthier you look.
                        p
                            | That would be really something, wouldn’t it?
                            | With Provitalize on its way to you, you’re already on your path towards
                            | achieving your dream body.
                        p
                            b How about turning on the jet boosters and accelerating your journey?
                            
                        p
                            | This is what Previtalize is designed to do. And we want you to get the
                            | complete gut health package with a huge 52% discount off the normal
                            | price.
                        p
                            | This discount is available on this page only. Then it will be gone
                            | forever. So take that extra step and add on to your order to include
                            | Previtalize. In a few weeks you’ll be so happy you did:

    //- Section
    .container.section__80
        .row.center-xs
            .col-xs-11.col-md-8

                .row.center-xs.mt__40.mb__40
                    .col.xs-12.col-md-8
                        img.mt__40(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_previtalize_4_bottles_1024x1024.png" alt="Image Title" style="width:100%;")
                .sp__25
                h1.mb__40 Add #{product.name} #{product.quanitity}-Bottle Bundle to your order for just #{product.price}
                p.mb__40 Add on available on this page only
                // Order Button
                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Yes, Add #{product.quantity} Bottle of #{product.name} To My Order Now
                    i.fa.fa-arrow-right.sp__left-1

                .sp__25
                // Cancel Button
                button#cancel.ch-btn.mt__40.f__bold
                    | No thank you, I would not like to take advantage of the #{product.discount} 
                    | discount for #{product.quantity} bottle of #{product.name}. I’m happy maintain the release of stored 
                    | fat into my body’s energy at average levels. Please take me to the next screen to complete my order


    //- Section
    .bg__lightgrey.section__80
        .container
            .row.center-xs
                .col-xs-11.col-md-8


                    i.fa.fa-graduation-cap.fa-4x

                    h1.mb__40 References

                    ul 
                        li 
                            b Higgins JA, Higbee DR, Donahoo WT, Brown IL, Bell ML, Bessesen

                            p DH. Resistant starch consumption promotes lipid oxidation. Nutrition &amp;
                                | Metabolism. 2004;1:8. doi:10.1186/1743-7075-1-8.
                        li 
                            b Yano, Jessica M, et al. Indigenous Bacteria from the Gut Microbiota
                            p Regulate Host Serotonin Biosynthesis. Indigenous Bacteria from the
                                | Gut Microbiota Regulate Host Serotonin Biosynthesis. Cell, 161 (2). pp.
                                | 264-276.

