//- Section 
div(class=product.theme)
    .container.section__80
        .row.center-xs
            .col-xs-11.col-md-8
                .row.center-xs.mb__40
                    .col.xs-12.col-md-6
                        p.important-light HOLD ON! 
                h1.mb__40.c__white How Would You Like To Try #{product.quantity} Bottle of #{product.name} at a #{product.discount} Discount?

                p.c__white 
                    | If 4 bottles of #{product.name} seemed too big a commitment, we get it. Perhaps
                    | the price was too high, even with the discount.
                p.c__white
                    | Yet, we’re eager for you to experience how #{product.name} can help you put the
                    | foot down on the accelerator and release more stored fat into your body’s
                    | engine to be 
                    b converted into natural “all day” energy.
                p.c__white
                    | So we’d like to make you an offer that’s easier to afford.
                p.mb__40.c__white
                    | As a new customer and from this page only you can try 1 bottle of
                    | #{product.name} for #{product.price}, a #{product.discount} discount on the recommended normal retail price
                    | of #{product.retail}.

.bg__white
    .container.section__80
        .row.center-xs
            .col-xs-11.col-md-8

                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Add 1 Bottle of #{product.name} to your order - #{product.price}
                    i.fa.fa-arrow-right.sp__left-1
                .row.center-xs
                    .col-xs-11.col-md-6
                        p.retail.mt__40 Retail price #{product.retail} per bottle
                            .row.center-xs.mt__40.mb__40
                                .col.xs-12.col-md-8
                                    img(src=product.image alt="Image Title" style="width:100%;")

                p.mt__40 
                    | With this generous discount, you can add try out adding #{product.name} as the
                    | accelerator to your weight loss efforts with Provitalize. And discover its fat
                    | releasing, fat converting, and energy boosting power for 
                    b a little over $1 a day.
                p
                    | #{product.name}’s 
                    b energy release is clean and natural
                    | , making it the healthier
                    | and superior alternative to soda or coffee for powering through the day.

div(class=product.theme).c__white.section__80
    .container
        .row.middle-xs.center-xs
            .col-xs-11.col-md-8
                img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png" alt="Image Title" style="width:300px;")
                p.mt__40
                    | #{product.name} #{product.quantity}-Bottle still comes with our 
                    b free shipping worldwide
                    | , backed
                    | by the same 
                    b ironclad 60 day money back guarantee!

//- Section
.section__80.bg__lightgrey
    .container
        .row.center-xs
            .col-xs-11.col-md-8
                .row.center-xs
                    .col-xs-11.col-md-6
                        p.important.mb__40 Important 
                h1.mb__40 This #{product.discount} Discount is Available Only as a ONE-TIME Offer for New Customers
                p 
                    | If you close this page you’ll need to pay #{product.retailperbottle} for a single bottle of #{product.name}.
                    | Whereas today, you can claim a month’s supply for just #{product.price} and save #{product.saving}
                    | to keep in your pocket.
                p
                    | If you’re eager to be among our ambitious group of customers who leave
                    | no stone unturned in their 
                    b pursuit of a better body
                    | and to gain the energy
                    | to 
                    b become a captain of industry in the workplace...
                    | a machine in the
                    | gym...and a whirlwind in everyday life...#{product.name} is the weight loss
                    | accelerator that can help you do it.
                p
                    | Remember that with our 60 day month back guarantee, you either lose
                    | weight and gain a greater release of life transformative energy or you get
                    | every cent back. So why not 
                    b give #{product.name} a try and claim your #{product.discount} discount?

//- Section 
.section__80.bg__white
    .container
        .row.center-xs
            .col-xs-11.col-md-8
                
                h1.mb__40 Add Bottle of Postburn for Just #{product.price}

                .row.center-xs
                    .col-xs-11.col-md-6
                        p.retail.mb__40 Retail price: #{product.retail}

                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Yes, Add to order - #{product.price} 
                    i.fa.fa-arrow-right.sp__left-1

                .row.center-xs.mt__40.mb__40
                    .col.xs-12.col-md-4
                        img(src=product.image alt="Image Title")
                .row.center-xs
                    .col-xs-11.col-md-6
                        p.border-dotted.mb__40.mt__40 #{product.saving} OFF the retail price!

//- Section CTA
div(class=product.theme).section__80.c__white
    .container
        .row.center-xs
            .col-xs-11.col-md-8

                h1.mb__40 Take Advantage Of This Deal Now!

                p.mb__40 
                    | Click on the green button below to instantly add this
                    | special offer to your order. You will not need to enter your payment details again.

                // Order Button
                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Yes, Add #{product.quantity} Bottle of #{product.name} To My Order Now
                    i.fa.fa-arrow-right.sp__left-1

                // Cancel Button
                button#cancel.ch-btn.mt__40.f__bold
                    | No thank you, I would not like to take advantage of the #{product.discount} 
                    | discount for #{product.quantity} bottle of #{product.name}. I’m happy maintain the release of stored 
                    | fat into my body’s energy at average levels. Please take me to the next screen to complete my order
