//- Done just needs checking and adding highlights
.bg__post_gradient
    .container.section__80
        .row.center-xs
            .col-xs-11.col-md-8


                .row.center-xs
                    .col-xs-11.col-md-6
                        p.important-light.mb__40.c__white This is the LAST Special Discount Offer
                h1.mb__40.c__white Ready to put your foot down on the accelerator?
                //- Coutdown
                .col-xs-12
                  .row.center-xs
                    div.c__white.f__up.f__bold.countdown.bg__dark-orange
                        p.mb__0
                          | THIS SPECIAL OFFER WILL EXPIRE IN 
                          span#time

                p.mt__40.c__white
                    | If you took advantage of our discount on Previtalize, soon you’ll be able
                    | boost your microbiome with “super yeasts” and accelerate Provitalize’s
                    | weight loss power. For many people, this is the limit of how far they
                    | want to take their body’s fat burning ability.
                p.c__white
                    | Yet, we’d often get emails from people eager to accelerate their weight
                    | loss efforts even faster.
                p.c__white
                    | So we invested in exhaustive research to find a way of 
                    em speeding up the complex biological process
                    | for turning fat into fuel. Until finally,
                    | we made a peakthrough...
//- Postburn section
.section__80.bg__white
    .container
        .row.center-xs
            .col-xs-11.col-md-8

                .row.center-xs
                    .col-xs-11.col-md-6
                        h3.ribbon.c__white.bg__dark-orange.mb__40 Introducing...
                h1.mb__40.c__dark-orange Postburn

                p While Provitalize and Previtalize focus on the gut, 
                    em Postburn targets 3 weight loss mechanisms at a molecular level.
                p
                    | By targeting these mechanisms all at
                    | once, Postburn can multiply the amount of
                    | stored fat that’s released from your belly,
                    | thighs, upper arms and other problem
                    | areas and converted into energy in the
                    | gut.
                p
                    |As a new customer, we want you to benefit from every advance we’ve
                    | made in achieving a better body. You’re already on your way to
                    | replenishing your gut bacteria and rejuvenating your metabolism. And
                    | with Postburn you can 
                    em put your foot on the accelerator towards gaining a slimmer, sexier body.
                p
                    | So via this page only you can get a 
                    em #{product.discount} DISCOUNT off the recommended retail price for Postburn and save #{product.saving}.

                .row.center-xs.mt__40.mb__40
                    .col.xs-12.col-md-8
                        img(src=product.image alt="Image Title" style="width:100%;")

                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Add #{product.name} #{product.quantity}-Bottle Bundle to your order for just #{product.price}
                    i.fa.fa-arrow-right.sp__left-1


//- Section 
.bg__post_gradient.c__white.section__80
    .container
        .row.center-xs
            .col-md-8.col-xs-12
                h1.mb__40 Targets Three Fat Loss Mechanisms at Once

                p Postburn features a unique 3-pronged approach that’s backed by
                    | science for its ability to accelerate your body&#39;s key burning process.

                    .div.c__black
                        .col-xs-12
                            .row.pd__10
                                div.bg__white.pd__25.card.shadow
                                    h3.mb__40 1. Breaks Down Fats Cells Faster

                                    p Ugly fat locked in cells around your belly, thighs, upper arms, and face
                                        | has to be broken down into fatty acids before it can be released.
                                        | But if you’ve been 5,10, or 20 kg overweight for some time, your body’s
                                        | natural ability to convert fat into fatty acids may have broken down.
                                        br
                                        | Postburn contains ingredients that help get it working again. So fat can
                                        | be converted into energy bars all over your body.
                                    ul
                                        li 
                                            p A study published in Food Science and Biotechnology showed
                                                | that an ingredient found in Postburn helps the body to increase
                                                | its production of free fatty acids.[1]
                                        li 
                                            p A study by Arizona State University found that capsaicin
                                                | increases the breakdown of fats and boosts energy as a
                                                | result.[2]
                    .div.c__black
                        .col-xs-12
                            .row.pd__10
                                div.bg__white.pd__25.card.shadow

                                    h3.mb__40 2. Enhances Metabolism of Free Fatty Acids

                                    p After stored fat is broken down into free fatty acids, it has to be burned
                                        | off as energy. This process is called “oxidation”. But if oxidation isn’t
                                        | working properly the free fatty acids get locked away again as lumps of
                                        | ugly fat. Postburn contains ingredients found to be potent at increasing
                                        | oxidation, so that more free fatty acids get turned into fuel.
                                    ul
                                        li 
                                            p A study by the University of Nottingham Medical School, Queen&#39;s
                                                | Medical Centre, showed that acetyl L-carnitine in Postburn
                                                | increases fat oxidation so that you gain more energy and can
                                                | workout for longer.[3]
                                        li
                                            p A study led by Berlain M, from the Medical and Clinical
                                                | Pharmacology Laboratory in France, found that the ingredient
                                                | yohimbe drives more fatty acids into your cells’ power plants
                                                | (called mitochondria) for a greater release of energy.[4]
                                        li 
                                            p Green tea extract in Postburn was found to trigger energy usage
                                                | of free fatty acids by as much as 750 kJ in 24 hours in a study by
                                                | Laval University, Canada.[5]

                    .div.c__black
                        .col-xs-12
                            .row.pd__10
                                div.bg__white.pd__25.card.shadow
                                    h3.mb__40 3. Reduces Fat Storage

                                    p Weight loss can only happen if your body is burning more fat than it
                                        | stores. The worst culprit for creating fat is sugar. So we developed
                                        | Postburn with a third mechanism that reduces how much sugar is
                                        | absorbed to prevent it being stored as fat.
                                    ul 
                                        li 
                                            p A study published in the Obesity Medical Journal found that 40
                                                | subjects who took yerba mate for 2 months reduced their fat
                                                | buildup by 30%.[6]
                                        li 
                                            p A study by the ETC Research and Development, Norway, found
                                                | that consuming green coffee bean extract for 3 months
                                                | plummeted sugar absorption by a significant 6.9%. The
                                                | subjects also lost more than 5 kg on average.[7]
                                        li
                                            p Researchers from the University of Udine, Italy, found that
                                                | rhodiola rosea disarms multiple fat formation triggers, such as
                                                | FGF2 and PPARG.[8]
                                    //- Section 
                                    h3
                                    p Just one of these fat loss mechanisms can make a huge difference to your weight loss efforts. When you combine all three you can put
                                        | yourself on the fast track to releasing stored fat, converting it into
                                        | energy, and emptying your stores of fat to gain the slimmer, healthier,
                                        | and sexier body you’ve always wanted.

            button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                | Add #{product.name} #{product.quantity}-Bottle Bundle to your order for just #{product.price}
                i.fa.fa-arrow-right.sp__left-1




//- Section 
.bg__white.section__80
    .container
        .row.middle-xs.center-xs
            .col-xs-11.col-md-8


                h1.mb__40.c__dark-orange 74% of customers add Postburn to their Purchase 
                .row.center-xs.mt__40.mb__40
                    .col.xs-12.col-md-8
                        img(src=product.image alt="Image Title" style="width:100%;")

                //- Section

                h1.mb__40.c__dark-orange Postburn is the Accelerate for Your Gut’s Fat Burning Engine

                p Imagine your body is an engine. Previtalize is like feeding it with high
                    | octane fuel...Provitalize is the gas tank where this fuel is turned into
                    | energy...and Postburn is the accelerator that increases how fast
                    | the fuel gets added and burned up as energy.
                p
                    | So you see, all three work in different ways. Yet when they’re all
                    | working together you gain a high performance fat burning machine
                    | that feeds you with all day energy, rather than the midday crashes you
                    | may be experiencing now.
                p
                    | So not only can you expect to lose stored fat much faster when you
                    | add on to your order to include Postburn. You will also be fueling your
                    | body with more energy than ever before.
                p
                    | Postburn is also manufactured to USA standards. It contains ZERO
                    | preservatives, no artificial colors or flavors, no wheat or gluten, or any
                    | artificial nasties. Just healthy ingredients as nature intended.


.bg__post_gradient.c__white.section__80
    .container
        .row.middle-xs.center-xs
            .col-xs-11.col-md-8
                img(src="https://cdn.shopify.com/s/files/1/2060/5733/files/cart_hook_guarantee_1024x1024.png" alt="Image Title" style="width:300px;")
                h1.mb__40.mt__40 Try it Risk Free with a 60 Day Money-Back Guarantee!

                p We’re so confident you’ll love how
                    | Postburn helps to release stored fat and
                    | turn it into fuel that we’re offering a no
                    | questions asked 60 day money back
                    | guarantee.


                p Try Postburn for 60 days. And if you
                    | notice no reduction in your weight, no
                    | increase in energy levels, or are
                    | unsatisfied for any reason at all, your
                    | purchase will be refunded in full.


.bg__lightgrey.section__80
    .container
        .row.center-xs
            .col-xs-11.col-md-8
                .row.center-xs
                    .col-xs-11.col-md-6

                        p.important.mb__40 Important
                h1.mb__40.c__dark-orange Your #{product.discount} Discount is Available from this Page Only
                p You’ve already purchased Provitalize and if you also included
                    | Previtalize you’ve now got a great combination of supplements for
                    | revitalizing your gut health and metabolism.
                p
                    | Adding Postburn can upgrade your body’s fat burning engine further
                    | still. With its unique 3 mechanisms that help turn stored fat into fatty
                    | acids...burn fatty acids as fuel...and reduce how much fat is stored,
                    | Postburn is the accelerator for faster fat burn.
                p
                    | And as well as see a slimmer body emerge in the mirror, you’ll have
                    | more energy to get more out of life…
                    | Just imagine waking in the morning and leaping out of bed, instead of
                    | having to douse your pain in coffee just to feel alive.
                p
                    | Or how about finally experiencing “all day” energy at work so you
                    | outperform younger colleagues and get tongues wagging about your
                    | newfound vim and vigor.
                p
                    | These changes can happen when you give your body what it needs: A
                    | steady release of natural energy. And this is exactly what Postburn is
                    | designed to do.
                p
                    | From this page only, you can get a massive #{product.discount} discount off the
                    | normal retail price. Because you’ve already put your trust in us
                    | purchasing Provitalize, we feel we owe you every opportunity we can
                    | offer at gaining a better body and healthier life.

                p So click the button below to add the Postburn accelerator to your fat
                    | burning engine and propel yourself to gaining the slim, sexy body
                    | you’ve always yearned for:

                //- Section 

.bg__white.section__80
    .container
        .row.center-xs
            .col-xs-11.col-md-8
                .row.center-xs.mt__40.mb__40
                    .col.xs-12.col-md-8
                        img(src=product.image alt="Image Title" style="width:100%;")
                h1.mb__40.c__dark-orange.mt__40 Add #{product.name} #{product.quantity}-Bottle Bundle to your order for just #{product.price}*
                p.dotted-border.mt__40 *Add on available on this page only
                button#order.ch-btn.center-xs.middle-xs.bg__green.c__white.f__bold
                    | Yes, Add #{product.quantity} Bottles of #{product.name} To My Order Now!
                    i.fa.fa-arrow-right.sp__left-1
                
                .sp__25

                button#cancel.ch-btn.mt__40.f__bold
                    | No thank you, I would not like to take advantage of the #{product.discount} discount for #{product.quantity} bottles of #{product.name}. I’m happy with just #{product.currentsupply} supply and then paying #{product.perbottleretail} per bottle afterward. Please take me tothe next page to complete my order

//- Section
.bg__lightgrey.section__80
    .container
        .row.center-xs
            .col-xs-11.col-md-8


                i.fa.fa-graduation-cap.fa-4x
                h1.mb__40 References

                p https://link.springer.com/article/10.1007%2Fs10068-010-0151-6
                p https://sciforschenonline.org/journals/obesity/OOA-3-129.php
                p https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2075186/
                p https://www.ncbi.nlm.nih.gov/pubmed/1885256
                p https://www.ncbi.nlm.nih.gov/pubmed/16176615
                p https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4344557/
                p https://www.ncbi.nlm.nih.gov/pubmed/?term=Thom+J+Int+Med+Res+2 007
                p https://www.ncbi.nlm.nih.gov/pubmed/25970041
